@import "variable.styl"

.el-table
  th
    font-weight: bold
  tr
    color: #000
  tr:nth-child(odd)
    background: #fff;
  tr:nth-child(even)
    background: #f2f2f2;
.app-breadcrumb.el-breadcrumb
  display: inline-block
  line-height: 50px
  margin-left: 10px
  .no-redirect
    color: #fff
    cursor: text
    font-size 14px
  .icon-location:before
    color: #fff
    font-size: 28px
    margin-right: 5px
